<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketplace</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
</head>

<body>
  <div>
    <header class="container text-center header-container">
      <h1 class="row justify-content-center logo-container">
        <a class="logo col-5" href="/">Logo</a>
      </h1>
      <h6 class="row justify-content-center desc-container">
        <p class="desc col-5">A marketplace app</p>
      </h6>
      <nav class="row align-items-start nav-container">
        <a class="col nav-btn buy-btn" href="/buy">Buy</a>
        <a class="col nav-btn sell-btn" href="/sell">Sell</a>
        <a class="col nav-btn logout-btn" href="/">Log Out</a>
        <a class="col nav-btn login-btn" href="/login">Log In/Sign Up</a>
      </nav>
    </header>
    <main>
      <div class="container text-center search-bar">
        <div class="sbk-container row justify-content-center">
          <label class="col-3 sbk-label" for="sbk-input">Search by keyword:</label>
          <input class="col-3 sbk-input" id="sbk" type="text"></input>
        </div>
        <div class="sbl-container row justify-content-center">
          <label class="col-3 sbl-label" for="sbl-input">Search by location:</label>
          <input class="col-3 sbl-input" id="sbl" type="text"></input>
        </div>
        <div class="sbc-container row justify-content-center">
          <label class="col-3 sbc-label" for="sbc-input">Search by category:</label>
                <select class="col-3 sbc-input" id="sbc">
                  <option value="option1">All Categories</option>
                  <option value="option2">fashion</option>
                  <option value="option3">furnitures</option>
                  <option value="option4">electronics</option>
                </select><br>
        </div>
        <button class="btn btn-primary search-btn" id="searchButton" type="submit">Search</button>
      </div>
      <div>
        <div class="buy-list-container">
            <div class="buy-list">list of items

            </div>    
        </div>
    </div>
    </main>
    <footer>
    </footer>
  </div>
<script src="../public/js/buy.js"></script>
</body>
</html>
