<div class="container buycon text-center search-bar">
  <div class="sbk-container row justify-content-center">
    <label class="col-3 sbk-label" for="sbk-input">Search by product:</label>
    <input class="col-3 sbk-input" id="sbk" type="text"></input>
  </div>
  <div class="sbl-container row justify-content-center">
    <label class="col-3 sbl-label" for="sbl-input">Search by city:</label>
    <input class="col-3 sbl-input" id="sbl" type="text"></input>
  </div>
  <div class="sbc-container row justify-content-center">
    <label class="col-3 sbc-label" for="sbc-input">Search by category:</label>
          <select class="col-3 sbc-input" id="sbc">
            <option value="">All Categories</option>
            <option value="sports">sports</option>
            <option value="furnitures">furnitures</option>
            <option value="electronics">electronics</option>
          </select><br>
  </div>
  <button class="btn btn-primary search-btn" id="searchButton" type="submit">Search</button>
</div>
<br>
<div>
  <div class="buy-list-container">
      <div class="buy-list" id="buy-list">

      </div>    
  </div>
</div>

<script src="js/buy.js"></script>

