<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketplace</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/">Logo</a>
      </h1>
      <nav>
        <a href="/buy">Buy</a>
        <a href="/sell">Sell</a>
        <a href="/logout">Logout</a>
        <a href="/login">Login</a>
      </nav>
    </header>
    <main>
      <div>
        <div class="widget-container">
          <div class="widget">
            <h3>Most Recent Uploads</h3>
          </div>
        </div>
      </div>      
    </main>
    <footer>
      
    </footer>
  </div>
</body>
</html>