
<div class="container text-center">
  <div class="row justify-content-center">
    <p class="justify-content-center about"> About: <br> Hello Users! <br> this is a marketplace app that allows you to buy and sell new and used goods! <br> Signup and Login to try our app!</p>
    <br>
    <p class="justify-content-center about">Contibutors: Tian, Wenbo, Liban, and Min Hwan</p>
    <div class="buy-list" id="buy-list">

    </div>
  </div>
</div>      

<script src="js/homepage.js"></script>

