
<div>
  <div class="">
    <div class="">
      <h3>
        About:
      </h3>
      <p>
        Hello Users! This is a marketplace app which allows you to sell or buy used goods.
      </p>
      
    </div>
  </div>
</div>      

